header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 30px 30px 30px;
  background: transparent;
  transition: all ease 0.5s;
  width: 100vw;
}
header.blackbg {
  background-color: #141414;
}
.logo {
  height: 35px;
}
.user {
  height: 40px;
}
.logo img {
  height: 100%;
}

.user img {
  height: 100%;
}
