.movieSection {
  margin-bottom: 30px;
}
.movieSection h2 {
  margin: 0px 0px 0px 30px;
}
.movieArea {
  overflow-x: hidden;
  padding-left: 30px;
}
.movieList {
  width: 9999px;
}
.movieItem {
  display: inline-block;
  width: 200px;
  cursor: pointer;
}
.movieItem img {
  width: 100%;
  border-radius: 5px;
  transform: scale(0.9);
  transition: all ease 0.3s;
}
.movieItem img:hover {
  transform: scale(1);
  box-shadow: 0px 2px 5px 1px #eee;
}
