@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #151515;
  color: #fefefe;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  margin: 0;
}
.main_lists {
  margin-top: -180px;
}
footer {
  text-align: center;
  font-size: 25px;
  color: #999;
  padding: 20px 0;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
